/* Whastapp container Style  */
.container-wsp {
    background-color: rgb(10, 146, 17);
    border: 2px solid rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: ease 0.3s;
    animation: ificto 1.2s infinite;
}

/* Whastapp container Style when you pass the mouse over the icon  */
.container-wsp:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Whastapp container Style size */
.button {
    width: 70px;
    transition: ease 1s;
}

@keyframes ificto {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}

/* Whastapp container Style when you pass the mouse over the icon  */
.card-img-top:hover {
    transform: scale(0.9);
    transition: 1.0s;
    opacity: 0;
}

/* All Fonts  Style  */

.navbar-brand {
    font-family: Impact;
    font-size: 250%;
}

.nav-link {
    font-family: fontSave1;
}

@font-face {
    font-family: fontSave1;
    src: url(resources/fonts/ArchitectsDaughter-Regular.ttf);
}









/*hover images in churros page*/

.container-churri1 {
    animation: ificto 1.2s;
    background-image: url(resources/images/churros3.jpg);
    background-size: cover;

}

.container-churri2 {
    animation: ificto 1.2s;
    background-image: url(resources/images/churoos4.jpg);
    background-size: cover;
}

.container-churri3 {
    animation: ificto 1.2s;
    background-image: url(resources/images/churros2.png);
    background-size: contain;
}

/* sticky a second navbar to a relative position */

.container-navbar {
    top: 86px;
    position: sticky;
    z-index: 999;
    padding: 0px;

}



.container-imagesCarousel {
    border-radius: 50%;
    display: block;
}

.containerCarrito {
    right: 30px;
    width: 40px;
    position: fixed;
    top: 20px;
}


.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 11%;
}

#carousel-item2 {

    position: relative;
    left: 21%;
}

#carousel-item3 {

    position: relative;
    left: 23%;
}

.carousel-control-prev-icon {
    color: black;
    background-color: rgba(31, 134, 36, 0.63);
}

.carousel-control-next-icon {
    color: black;
    background-color: rgba(31, 134, 36, 0.5);
}

.navbar-collapse{
    display: flex;
    flex-direction: row-reverse;
}


@media (min-width: 300px) and (max-width: 999px) {
    .navbar-collapse {
        display: none;
    }
}


@media (min-width: 1000px) and (max-width: 2500px) {
    .dropdown {
        display: none;
    }
}